<h1>About</h1>
<p>This is Blocipedia. We are building ourselves up with new content everyday! Please check back in and sign up for access to our database.</p>

<p>The one thing we need more than anything else is new content. The only way for that to happen is for people like you to sign up and start building  the community. Only together can we make Blocipedia a place of knowledge and fun!</p>
