<h1>Welcome</h1>


<h2> link_to "Blocipedia" wikis_index_path </h2>

  <p>Welcome to Blocipedia! If you see no content, that means you have not signed in. If you haven't signed up yet, it is easy and free!</p>

