<div class="row">
    <div class="col-sm-2">
        <h1>All Wikis</h1>
    </div>
    <div class="col-sm-3">
        <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-primary' %>
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <% @wikis.each do |wiki| %>
                <% if wiki_is_private? %>
                    <p>This is a private wiki</p>
                <% else %>
                    <p><%= link_to wiki.title, wiki %></p>
                <% end %>
            <% end %>  
        </h4>
    </div>
</div>
