<h1>Downgrade Account</h1>
<p>If you would like to downgrade your account please confirm below. All wiki's will become public and if you change your mind you will have 30 days to contact the administrators to reverse the downgrade before you will have to pay for another premium membership.</p>

<%= button_to "Downgrade", root_path, :method => :downgrade_account, :form_class => "btn btn-success" %>
